body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-bg-body);
    
}
:root {
    --color-bg-search-bar: #e5e5e5;
    --color-bg-body: #f8f9fa;
    --color-side-bar: #0f263d;
    --color-nav-bar: #1b72e8;
    --color-bell: #ff8f00;
}
.wrapper{
    width: 100%;
    height: 100vh;
}



main{
    height: calc(100% - 73.6px);
}

 

.bg-kj-searchbar{
    background-color: var(--color-bg-search-bar);
}
.bg-kj-body{
    background-color: var(--color-bg-body);
}
.text-bell{
    color: var(--color-bell);
}
#side-bar{
    width: 150px;
    height: 100%;
    /* mettere alla fine overflow hidden alla fine */
    background-image:url(../img/sidebar-bg.png) ;
    background-color: var(--color-side-bar);
}

#main-content{
    width: calc(100% - 150px);
}

.mini-logo{
    width: 50px;
    height: 50px;
}

.top-side{
    height: calc(100% - 50px);
}
.bottom-side{
    height: 50px;
}

td img{
    width: 25px;
    height: 25px;
}
@media screen and (max-width:1200px) {
    main{
        height: calc(100% - 83.6px);
    }
 }

 @media screen and (max-width:992px) {
     #side-bar{
        width: 75px;
     } 
    #main-content{
        width: calc(100% - 75px);
    }
 }